{% extends 'base.html' %}

{% block content %}
<h2>Lista de Pedidos</h2>

<div class="mt-3">

    {% for order in ordenes %}
    <div class="card p-4 mb-3 shadow-sm" style="max-width: 550px; border-radius: 12px;">

    <h5 class="mb-3">Pedido {{ order.identifier }}</h5>
    
    
    <div class="mb-2">
        {% if order.user %}
            <strong>Usuario:</strong> 
            <span>{{ order.user }}</span>
        {% else %}
            <span>Anonimo</span>
        {% endif %}
    </div>
    

    <div class="mb-2">
        <strong>Método de pago:</strong>
        <span class="badge" style="background-color: #d3d3d3; color: #000;">
            {{ order.pay_method }}
        </span>
    </div>

    <div class="mb-2">
        <strong>Dirección:</strong>
        <span>{{ order.address }}</span>
    </div>

    <div class="mb-2">
        <strong>Estado:</strong>
        {% if order.status == "pending" %}
            <span class="badge bg-warning text-dark">Pendiente</span>
        {% elif order.status == "shipped" %}
            <span class="badge bg-primary">Enviado</span>
        {% else %}
            <span class="badge bg-success">Entregado</span>
        {% endif %}
    </div>

    <hr>

    <div class="d-flex justify-content-between align-items-center">
        <a href="{% url 'orders/items' order.id %}" 
           class="btn btn-sm btn-outline-info ms-2"
           style="border-radius: 8px; padding: 4px 12px; font-weight: 500;">
           Ver
        </a>
    </div>

</div>

    {% endfor %}
    
    

</div>

{% endblock %}
