{% extends 'base.html' %}
{% block title %}Iniciar Sesión - Orchid Cosmetics{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 500px;">
  <div class="card shadow-sm">
    <div class="card-body">
      <h3 class="text-center mb-4">Iniciar Sesión</h3>

      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Usuario o Email</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="Introduce tu usuario"
            required
          />
        </div>

        <div class="form-group">
          <label for="password">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Introduce tu contraseña"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-3">
          Iniciar sesión
        </button>

        <div class="text-center mt-3">
          <small>¿No tienes una cuenta?
            <a href="/signup">Regístrate aquí</a></small>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

<!--
{% extends "base.html" %} {% block content %} {% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %} {% if next %} {% if user.is_authenticated %}
<p>
  Your account doesn't have access to this page. To proceed, please login with
  an account that has access.
</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %} {% endif %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <table>
    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
  </table>

  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you set up the password_reset view in your URLconf #} {% endblock %}
-->