{% extends 'base.html' %}
{% block title %}Crear Cuenta - Orchid Cosmetics{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 500px;">
  <div class="card shadow-sm">
    <div class="card-body">
      <h3 class="text-center mb-4">Crear Cuenta</h3>

      <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}

        {% for field in form %}
        {% include "components/form_field.html" with field=field %}
        {% endfor %}

        {% if error %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
        {% endif %}

        <button type="submit" class="btn btn-success btn-block mt-3">
          Registrarse
        </button>

        <div class="text-center mt-3">
          <small>¿Ya tienes una cuenta?
            <a href="/login">Inicia sesión</a></small>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
