{% extends 'base.html' %}

{% block content %}
<h2>Detalles del productoo</h2>

<div class="card p-4 mb-3 shadow-sm" style="max-width: 600px;">

    {% if producto.image_url %}
        <img src="{{ producto.image_url.url }}" 
            alt="{{ producto.name }}" 
            style="max-width: 400px; border-radius: 8px;">
    {% endif %}

    <p><strong>Nombre:</strong> {{ producto.name }}</p>
    <p><strong>Descripción:</strong> {{ producto.description }}</p>
    <p><strong>Precio:</strong> {{ producto.price }}</p>
    <p><strong>Stock:</strong> {{ producto.stock }}</p>
    <p><strong>Fabricante:</strong> {{ producto.fabricator }}</p>
    <p><strong>Categorias:</strong>
        {% for cat in categories %}
            <p>{{ cat }}</p>
        {% endfor %}
    </p>

</div>

<a href="/products" class="btn btn-secondary mt-3">Volver a la lista</a>
{% endblock %}
